<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501729442216-fdj95ocd9e2gh8c4tbehaivp3php8ivq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501729442216-fdj95ocd9e2gh8c4tbehaivp3php8ivq</string>
	<key>API_KEY</key>
	<string>AIzaSyCZmQB9828QkgpEXqVHb29F8ugnFaEoYDA</string>
	<key>GCM_SENDER_ID</key>
	<string>501729442216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourcompany.TravelRecordApp</string>
	<key>PROJECT_ID</key>
	<string>travelrecordapp-2ca9f</string>
	<key>STORAGE_BUCKET</key>
	<string>travelrecordapp-2ca9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501729442216:ios:368e8dd9aa125bea10859d</string>
</dict>
</plist>